html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: -4px;
    top: -4px;
}

body {
    font-family: 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        'Helvetica Neue', sans-serif;
}

.body,
.app-container {
    height: calc(100vh);
}

button {
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    outline: none;
}
