<script>
    export let backgroundColor;
    export let enableBackground;
    export let fontColor;
    export let fontWeight;
    export let onClick;
    export let text;
</script>

<style>
    button {
        background-color: var(--background-color);
        border: none;
        color: var(--font-color);
        cursor: pointer;
        display: block;
        font-weight: var(--font-weight);
        margin: 0 auto;
    }
    button[data-background-enabled=true] {
        border-radius: 4px;
        padding: 8px 48px 8px 48px;
    }
</style>

<button
    data-background-enabled={enableBackground}
    on:click={onClick}
    style="--background-color: {backgroundColor}; --font-color: {fontColor}; --font-weight: {fontWeight}">
    {text}
</button>