<script>
    import Button from './Button';
    import Image from './Image';

    import { beforeUpdate } from 'svelte';
    import { fly } from 'svelte/transition';
    import { quint } from 'svelte/easing';

    import { createEventDispatcher } from 'svelte'

    export let backgroundColor;

    export let displayDrawer;
    export let readerOpen;
    export let closeButtonBackgroundColor;

    export let animDuration;
    export let animDelay;
    export let animEasing;

    const dispatch = createEventDispatcher();
</script>

<style>
    .drawer {
        background-color: var(--background-color);
        border-radius: 36px;
        bottom: 0;
        padding-bottom: 1px;
        padding-top: 12px;
        width: 100%;
        z-index: 0;
    }

    .line {
        background-color: black;
        border-radius: 8px;
        height: 2px;
        margin-top: 22px;
        width: 33%;
    }

    .drawer-container {
        bottom: 0;
        position: absolute;
        width: 100%;
    }
</style>

<div class="drawer-container">
    <div style="display: {displayDrawer ? "block" : "none"}">
        <div class="drawer" aria-expanded={readerOpen} style="--background-color: {backgroundColor}">
        {#if readerOpen}
            <slot name="drawerHeading"></slot>
            <div in:fly="{{ delay: animDelay, duration: animDuration, easing: animEasing }}">
                <slot name="readerOpenContent"></slot>
                <Button
                    backgroundColor={closeButtonBackgroundColor}
                    enableBackground={true}
                    fontColor={backgroundColor}
                    onClick={() => dispatch('closeReader')}
                    text={"Close"}
                />
            </div>
        {:else}
            <slot name="readerClosedInnerContent"></slot>
        {/if}
        <hr class="line">
    </div>
  </div>
    <slot name="readerClosedOuterContent"></slot>
</div>
