<script>
    import Button from './Button';
    import Drawer from './Drawer';
    import Image from './Image';

    import { beforeUpdate } from 'svelte';
    import { fly } from 'svelte/transition';
    import { quint } from 'svelte/easing';

    export let callToAction;
    export let footerFontColor;
    export let hideFooter;
    export let text;
</script>

<style>
    footer {
        color: var(--footer-font-color);
        margin: 0 auto;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .login {
        color: #ca2956;
        cursor: pointer;
        text-decoration: none;
    }
    .footer-container {
        bottom: 62px;
        position: absolute;
        width: 100%;
    }
</style>

<div class="footer-container" style="display: {hideFooter ? "none" : "block"}">
    <footer class="footer" style="--footer-font-color: {footerFontColor};">
        <p>{text}<span class="login" on:click={() => console.log('test')}>{` ${callToAction}`}</span></p>
    </footer>
</div>
