<script>
    export let url;
</script>

<style>
    .frame {
        height: calc(100vh);
        width: calc(100vw);
        display: flex;
        position: absolute;
        top: 0;
        border: none;
    }
</style>

<div>
    <iframe class="frame" title="frame" frameborder="1" src={url}></iframe>
</div>