<script>
    export let paddingTop = "";
    export let src = "";
    export let widthPercent = "";
</script>

<style>
    img {
        display: block;
        margin: 0 auto;
        padding-top: var(--padding-top);
        width: var(--width);
  }
</style>

<img
    {src}
    alt="Image"
    style="--width: {widthPercent}; --padding-top: {paddingTop}"
/>
