<script>
    import Slider from "./Slider";

    export let backgroundColor;
</script>

<style>
    .page {
        background-color: var(--background-color);
        height: 100%;
    }
</style>

<div class="page" style="--background-color: {backgroundColor}">
    <slot />
</div>
