<script>
    import { onMount, beforeUpdate } from "svelte";

    import Button from './Button';
    import Carousel from "@beyonk/svelte-carousel";
    import Slide from "./Slide";

    export let backgroundColor;
    export let fontColor;
    export let headingColor;
    export let slides = [];
</script>

<style>
    .slide-content {
        height: 100%;
        width: 100%;
    }

    .slide-content {
        background-color: var(--background-color);
    }

    :global(ul) { /* Override Carousel Library */
        margin-top: 0 !important;
        padding-top: 18px !important;
        position: initial !important;
    }
    :global(ul li) {  /* Override Carousel Library */
        cursor: pointer;
    }
</style>

<Carousel perPage={{ 4096: 1 }} loop={false}> <!-- perPage = Pixel width/slide -->
    {#each slides as slide, i}
        <div
            class="slide-content"
            style="--background-color: {backgroundColor}">
            <Slide
                {...slide}
                {fontColor}
                {headingColor}
            />
            {#if (i === (slides.length - 1))}
                <slot name="actionButton"/>
            {/if}
        </div>
    {/each}
</Carousel>
<slot name="actionButton2"/>