<script>
    import Image from './Image';

    export let backgroundColor;
    export let bodyText;
    export let fontColor;
    export let headingColor;
    export let headingText;
    export let imageSrc;
</script>

<style>
    .body-text {
        color: var(--body-color);
    }

    .body-text,
    .heading-text {
        display: block;
        text-align: center;
    }

    .container {
        background-color:var(--background-color);
        height: 100%;
    }

    .body-text-container,
    .heading-container,
    .slide {
        margin: 0 auto;
    }

    .heading-container {
        width: 100%;
    }

    .heading-text {
        color: var(--heading-color);
        font-size: 24px;
    }

    .slide {
        display: block;
        width: 70%;
    }
</style>

<div class="container" style="--background-color: {backgroundColor}">
    <div class="slide">
        <div class="image-container">
            <Image src={imageSrc} widthPercent={"70%"} paddingTop={"50px"}/>
        </div>
        <div class="heading-container">
            <h2 class="heading-text" style="--heading-color: {headingColor}">{headingText}</h2>
        </div>
        <div class="body-text-container">
            <p class="body-text" style="--body-color: {fontColor}">{bodyText}</p>
        </div>
        <slot name="actionButton"></slot>
    </div>
</div>
