<script>
    import Image from "./Image";

    export let imageSrc;
    export let backgroundColor;
</script>

<style>
    .topbar {
        display: flex;
        margin: 0 auto;
        padding-top: 24px;
        width: 50%;
    }
    .topbar-container {
        background-color: var(--background-color);
    }
</style>

<div class="topbar-container" style="--background-color: {backgroundColor}">
    <div class="topbar">
        <Image src={imageSrc} width={"100%"}/>
    </div>
</div>
