<script>
    import { assets } from "./constants/assets";
    import { colors, baseColors } from "./constants/colors";
    import { strings } from './constants/strings';
    import { paths } from './constants/paths';

    import {
        pages,
        slides
    } from "./views";

    import Button from './components/Button';
    import Drawer from './components/Drawer';
    import Footer from './components/Footer';
    import Image from './components/Image';
    import Page from "./components/Page";
    import Slide from "./components/Slide";
    import Slider from "./components/Slider";
    import TopBar from "./components/TopBar";
    import IFrame from "./components/IFrame";

    import {
        backOut,
        blur,
        fly,
        quint
    } from "svelte/transition";
    import { setContext, getContext } from 'svelte';
    import { createEventDispatcher } from 'svelte'

    import { onboardingUser } from "./stores";

    let currentColors = $onboardingUser ? baseColors.dark : baseColors.light;
    let currentLogo = $onboardingUser ? assets.logo.white : assets.logo.color;

    const onCompletedOnboarding = () => {
        currentColors = baseColors.light;
        currentLogo = assets.logo.color;
        onboardingUser.update(() => false);
    };

    let readerOpen = false;
    const openReader = () => readerOpen = true;
    const closeReader = () => readerOpen = false;

    let showIframe = false;
    const toggleIframe = () => showIframe = !showIframe;
</script>

<style>
    .heading-container,
    .body-text-container {
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }
</style>

<TopBar
    imageSrc={currentLogo}
    backgroundColor={currentColors.backgroundColor}
/>
<Page backgroundColor={currentColors.backgroundColor}>
    {#if $onboardingUser}
        <div transition:blur="{{ delay: 0, duration: 125, ease: quint }}">
            <!-- Onboarding Slide Deck -->
            <Slider
                backgroundColor={colors.darkBlue}
                fontColor={colors.white}
                headingColor={colors.white}
                linkColor={colors.red}
                onExit={onCompletedOnboarding}
                slides={slides.onboarding}>
                <div slot="actionButton">
                    <Button
                        backgroundColor={colors.red}
                        enableBackground={true}
                        fontColor={colors.white}
                        onClick={onCompletedOnboarding}
                        text={strings.onboarding_slider.finish}
                    />
                </div>
                <div slot="actionButton2">
                    <Button
                        onClick={onCompletedOnboarding}
                        text={strings.onboarding_slider.skip}
                        fontColor={colors.red}
                    />
                </div>
            </Slider>
        </div>
    {:else}
        <div transition:fly="{{ delay: 270, duration: 300, ease: backOut }}">
            <!-- Main Page -->
            <Slide
                backgroundColor={currentColors.backgroundColor}
                fontColor={colors.mediumGray}
                headingColor={colors.darkBlue2}
                {...pages.main}>
                <div slot="actionButton">
                    <Button
                        backgroundColor={colors.red}
                        enableBackground={true}
                        fontColor={colors.white}
                        onClick={openReader}
                        text={strings.nfc.open}
                    />
                </div>
            </Slide>
        {#if showIframe}
            <IFrame url={paths.smart_access_home}/>
        {/if}
      </div>
    {/if}

    <!-- Reader -->
    <Drawer on:closeReader={closeReader}
        animDelay={0}
        animDuration={500}
        animEasing={quint}
        backgroundColor={colors.white}
        displayDrawer={!$onboardingUser}
        closeButtonBackgroundColor={colors.red}
        {readerOpen}
        {toggleIframe}>
        <div slot="drawerHeading">
            <div class="heading-container">
                <h2 class="heading-text"
                    style="--font-color: {colors.darkBlue2}">
                    {strings.nfc.ready.heading}
                </h2>
            </div>
        </div>
        <div slot="readerOpenContent">
            <Image
                src={assets.illustration.tap_device}
                widthPercent={"25%"}
            />
            <div class="body-text-container">
                <p class="body-text"
                    style="--font-color: {colors.darkBlue2}">
                    {strings.nfc.ready.description}
                </p>
            </div>
        </div>
        <div slot="readerClosedInnerContent">
            <Button
                fontColor={colors.red}
                fontWeight={"500"}
                onClick={toggleIframe}
                text={"About Smart Access"}
            />
        </div>
        <div slot="readerClosedOuterContent">
            {#if !showIframe}
                <Footer
                    hideFooter={readerOpen}
                    callToAction={strings.login}
                    footerFontColor={$onboardingUser ? colors.white : colors.darkBlue2}
                    text={strings.already_a_user}
                />
            {/if}
        </div>
    </Drawer>
</Page>

